.container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container__cards {
        display: flex;
        flex-wrap: wrap;
        .card {
            margin-right: 20px;
            margin-bottom: 50px;
            width: 300px;
            img {
                height: 220px;
                width: inherit;
            }
        }
    }
}