<div class="container"> 
    <div class="container__cards">
        <div class="card">
            <img class="card-img-top" src="assets/images/cesar.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cesar Pena</h5>
              <p class="card-text"><strong>From: </strong>Dominican Republic / New York City</p>
              <p class="card-text"><strong>Profession:</strong> Software Engineer</p>
              <p class="card-text"><strong>Career:</strong> 7+ years working in the IT industry, currently software developer and UXUI designer @KPMG</p>
              <p class="card-text"><strong>Role in the project:</strong> Developer of the website</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/images/lee.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Kyu Young (Brandon) Lee</h5>
              <p class="card-text"><strong>From: </strong>South Korea</p>
              <p class="card-text"><strong>Profession:</strong></p>
              <p class="card-text"><strong>Career:</strong> Working in Enterprise Customer Experience at Adobe.IT/Marketing professional since 2007</p>
              <p class="card-text"><strong>Role in the project:</strong>Threat Modeler</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/images/johannes.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ndinomwene J. Mondjila</h5>
              <p class="card-text"><strong>From: </strong>Namibia</p>
              <p class="card-text"><strong>Profession:</strong></p>
              <p class="card-text"><strong>Career:</strong> Currently employed as an IT Technician/Junior Systems administrator at Bank of Namibia IT proffessional since 2012</p>
              <p class="card-text"><strong>Role in the project:</strong>Diamong Modelling</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/images/Radha2020.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Radha Seetharaman</h5>
              <p class="card-text"><strong>From: </strong>Virginia Fairfax </p>
              <p class="card-text"><strong>Profession:</strong></p>
              <p class="card-text"><strong>Career:</strong>Employed in tech Mahindra as Regional Practice Head - N.A Digital consulting group - Consulting/Sales /Program Delivery- 22+yrs of IT Experience  - working in Tech Mahindra Americas from 2003 </p>
              <p class="card-text"><strong>Role in the project:</strong>Diamong Modelling</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/images/sree.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">SREEDHAR YALAMATI</h5>
              <p class="card-text"><strong>From: </strong>Sacramento, California</p>
              <p class="card-text"><strong>Profession:</strong>Information Technology</p>
              <p class="card-text"><strong>Career:</strong>Employed with Franklin Templeton for the past 15 years and currently working as Technical Lead on Financial and Data Integration Platforms</p>
              <p class="card-text"><strong>Role in the project:</strong> Intelligence Buy-in and Coordination</p>
            </div>
          </div>
    </div>
</div>