/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  position: relative;
  margin: 0;
  box-sizing: border-box;

  app-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.container__main {
  padding: 50px;
}

.full-page-container {
  height: calc(100vh - 114px);
}

app-root {
  min-height: 100%;
  // overflow: hidden;
  display: block;
  position: relative;
  background-color: #eee;
}

.section-header {
  padding-top: 70px;
  padding-bottom: 40px;
}

.footer-absolute {
  width: 100%;
}

app-welcome {
  background-color: white;
}

.my-custom-scrollbar {
  position: relative;
  height: calc(100vh - 390px);
  overflow: auto;


  body {
    margin: 0;
    padding: 2rem;
  }
  
  table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
  }
  th, td {
    padding: 0.25rem;
  }
  tr.gray th {
    background: gray;
    color: white;
  }
  th {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
  }
}
.table-wrapper-scroll-y {
  display: block;
}
